{% extends "jobby/base.html" %}
{% load l10n static django_bootstrap5 mizdb_inlines %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'jobby/js/fetch_jobdetails.js' %}"></script>
    {# mizdb_inlines media #}
    {{ combined_media }}
    <script src="{% static 'mizdb_inlines/js/mizdb_inlines.js' %}"></script>
{% endblock extrahead %}

{% block content %}
<div class="mx-3">
<div class="d-flex justify-content-between mb-3">
    <div>
        <h1 title="Stellenangebot Titel">{{ form.titel.value|default:form.beruf.value }}</h1>
        <span class="ms-3">{{ form.beruf.value }}</span>
    </div>
    {% if arge_link or form.externe_url.value %}
    <div>
        {% if arge_link %}<div><a href="{{ arge_link }}" target="_blank">Zum Angebot auf arbeitsagentur.de</a></div>{% endif %}
        {% if form.externe_url.value %}<div><a href="{{ form.externe_url.value }}" target="_blank">Externer Link</a></div>{% endif %}
    </div>
    {% endif %}
</div>
{% block angebot_details %}
<div id="details" class="mb-3">
    <div class="d-flex mb-3 gap-3">
        <div title="Arbeitsort">
            <svg class="feather feather-map-pin" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                <circle cx="12" cy="10" r="3"></circle>
            </svg>
            <span class="fw-bold">{{ form.arbeitsort.label}}: </span> {{ form.arbeitsort.value }}
        </div>
        <div title="Arbeitgeber">
            <svg class="feather feather-user" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
            </svg>
            <span class="fw-bold">{{ form.arbeitgeber.label}}: </span> {{ form.arbeitgeber.value }}
        </div>
        <div title="Eintrittsdatum">
            <svg class="feather feather-calendar" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <rect height="18" rx="2" ry="2" width="18" x="3" y="4"></rect>
                <line x1="16" x2="16" y1="2" y2="6"></line>
                <line x1="8" x2="8" y1="2" y2="6"></line>
                <line x1="3" x2="21" y1="10" y2="10"></line>
            </svg>
            <span class="fw-bold">{{ form.eintrittsdatum.label}}: </span> {{ form.eintrittsdatum.value|localize }}
        </div>
    </div>
    <div id="beschreibung" class="mb-3 border rounded p-3" data-testid="job-description">
        {% if form.beschreibung.value %}
            {{ form.beschreibung.value|safe }}
        {% else %}
          <div id="textBeschreibung" class="accordion-body" data-url="{% url 'get_angebot_beschreibung' refnr=form.refnr.value %}">
              <div id="spinner" class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div>
          </div>
        {% endif %}
    </div>
    <div class="d-flex justify-content-around text-secondary">
        <span>{{ form.veroeffentlicht.label }}: {{ form.veroeffentlicht.value|localize }}</span>
        <span>{{ form.refnr.label }}: {{ form.refnr.value }}</span>
        <span>{{ form.modified.label }}: {{ form.modified.value|localize }}</span>
    </div>
</div>
{% endblock angebot_details %}
<hr>
<h2>Eigene Daten:</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% bootstrap_form form layout="floating" %}
    {# TODO: wrap formsets in an accordion #}
    {% for formset in formsets %}
        {% if formset.is_tabular %}
            {% tabular_inline_formset formset %}
        {% else %}
            {% inline_formset formset %}
        {% endif %}
    {% endfor %}
    <div class="d-flex justify-content-between m-3">
        <button type="submit" class="btn btn-success" name="submit_suche">
            <div class="d-flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rewind col-2 my-auto"><polygon points="11 19 2 12 11 5 11 19"></polygon><polygon points="22 19 13 12 22 5 22 19"></polygon></svg>
            <span class="col">{% if object.id %}Aktualisieren{% else %}Merken{% endif %} & zur Suche</span>
            </div>
        </button>
        {% if object.id %}<button class="btn btn-danger">Löschen</button>{% endif %}
        <button type="submit" class="btn btn-success" name="submit_watchlist">
            <div class="d-flex">
            <span class="col">{% if object.id %}Aktualisieren{% else %}Merken{% endif %} & zur Merkliste</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-fast-forward col-2 my-auto"><polygon points="13 19 22 12 13 5 13 19"></polygon><polygon points="2 19 11 12 2 5 2 19"></polygon></svg>
            </div>
        </button>
    </div>
</form>
</div>
{% endblock content %}