{% extends "jobby/base.html" %}
{% load l10n static django_bootstrap5 mizdb_inlines jobby %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'jobby/js/fetch_jobdetails.js' %}"></script>
    {# mizdb_inlines media #}
    {{ combined_media }}
    <script src="{% static 'mizdb_inlines/js/mizdb_inlines.js' %}"></script>
{% endblock extrahead %}

{% block content %}
<div class="mx-3">

{% block angebot_title %}
<div class="d-flex justify-content-between mb-3">
    <div>
        <h1 title="Stellenangebot Titel">{{ form.titel.value|default:form.beruf.value }}</h1>
        <span class="ms-3">{{ form.beruf.value }}</span>
    </div>
    {% if details_url or form.externe_url.value %}
    <div>
        {% if details_url %}<div><a href="{{ details_url }}" target="_blank">Zum Angebot auf der Jobbörse</a></div>{% endif %}
        {% if form.externe_url.value %}<div><a href="{{ form.externe_url.value }}" target="_blank">Externer Link</a></div>{% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}

{% block angebot_details %}
<div id="details" class="mb-3">
    <div class="d-flex mb-3 gap-3">
        <div title="Arbeitsort">
            <svg class="feather feather-map-pin" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                <circle cx="12" cy="10" r="3"></circle>
            </svg>
            <span class="fw-bold">{{ form.arbeitsort.label}}: </span> {{ form.arbeitsort.value }}
        </div>
        <div title="Arbeitgeber">
            <svg class="feather feather-user" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
            </svg>
            <span class="fw-bold">{{ form.arbeitgeber.label}}: </span> {{ form.arbeitgeber.value }}
        </div>
        <div title="Eintrittsdatum">
            <svg class="feather feather-calendar" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <rect height="18" rx="2" ry="2" width="18" x="3" y="4"></rect>
                <line x1="16" x2="16" y1="2" y2="6"></line>
                <line x1="8" x2="8" y1="2" y2="6"></line>
                <line x1="3" x2="21" y1="10" y2="10"></line>
            </svg>
            <span class="fw-bold">{{ form.eintrittsdatum.label}}: </span> {{ form.eintrittsdatum.value|localize }}
        </div>
    </div>
</div>
{% endblock angebot_details %}

{% block buttons_row %}
<div class="submit-buttons d-flex justify-content-between m-3">
    <div>
    <button type="submit" form="user-data-form" class="btn btn-success py-2">{% if object.id %}Speichern{% else %}Merken{% endif %}</button>
    <button type="submit" form="user-data-form" class="btn btn-outline-success py-2" name="submit_suche">
        <div class="d-flex">
        <span class="col">{% if object.id %}Speichern{% else %}Merken{% endif %} & zur Suche</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search col-1"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
        </div>
    </button>
    <button type="submit" form="user-data-form" class="btn btn-outline-success py-2" name="submit_watchlist">
        <div class="d-flex">
        <span class="col">{% if object.id %}Speichern{% else %}Merken{% endif %} & zur Merkliste</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark col-1"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg>
        </div>
    </button>
    </div>
    <div>
        {% if on_watchlist %}
        {% url 'stellenangebot_remove' object.id as remove_url %}
        <form method="POST" action="{% add_search_filters remove_url %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger py-2">Von der Merkliste entfernen</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock buttons_row %}

{% block content_tabs %}
<ul class="nav nav-tabs nav-fill flex-column flex-md-row bg-secondary bg-opacity-10 border border-bottom-0 rounded-top">
    <li class="nav-item">
        <button class="nav-link px-2 active" id="description-tab-btn" data-bs-toggle="tab" data-bs-target="#description-tab-pane" type="button" role="tab" aria-controls="description-tab-pane" aria-selected="true">Beschreibung</button>
    </li>
    <li class="nav-item">
        <button class="nav-link px-2" id="user-data-tab-btn" data-bs-toggle="tab" data-bs-target="#user-data-tab-pane" type="button" role="tab" aria-controls="user-data-tab-pane" aria-selected="true">Eigene Daten</button>
    </li>
</ul>
<div class="tab-content mb-3">
    <div id="description-tab-pane" class="tab-pane pt-1 px-3 show active border border-top-0 rounded-bottom">
    {% block description %}
    <div id="beschreibung" class="mb-3 pt-1" data-testid="job-description" style="max-height: 67vh; overflow: auto;">
        {% if form.beschreibung.value %}
            {{ form.beschreibung.value|safe }}
        {% else %}
          <div id="textBeschreibung" data-url="{% url 'get_angebot_beschreibung' refnr=form.refnr.value %}">
              <div class="d-flex">
                <div id="spinner" class="spinner-border my-3 mx-auto" role="status"><span class="visually-hidden">Loading...</span></div>
              </div>
          </div>
        {% endif %}
    </div>
    {% endblock description %}
    </div>

    <div id="user-data-tab-pane" class="tab-pane pt-1 px-3 border border-top-0 rounded-bottom">
    <p class="pt-1">Hier kannst du eigene Daten zu diesem Stellenangebot hinzufügen.</p>
    <form id="user-data-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_form form %}

        <div class="formsets">
        <ul class="nav nav-tabs nav-fill flex-column flex-md-row bg-secondary bg-opacity-10 border border-bottom-0 rounded-top">
        {% for formset in formsets %}
            {% formset_has_errors formset as formset_is_invalid %}
            <li class="nav-item{% if formset_is_invalid %} invalid{% endif %}">
                <button
                        class="nav-link px-2{% if forloop.first%} active{% endif %}{% if formset_is_invalid %} me-4 border-invalid icon-invalid{% endif %}"
                        id="{{formset.title}}-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#{{formset.title}}-tab-pane"
                        type="button"
                        role="tab"
                        aria-controls="{{formset.title}}-tab-pane"
                        aria-selected="true"
                >
                    {{formset.title}}
                    <span class="badge bg-secondary ms-1">{% if formset.forms|length > 1%}{{formset.forms|length|add:"-1"}}{% else %}0{% endif %}</span>
                </button>
            </li>
        {% endfor %}
        </ul>
        {% for formset in formsets %}
        <div class="tab-content">
            <div class="tab-pane pt-1 px-3{% if forloop.first%} show active{% endif %} border border-top-0 rounded-bottom mb-3" id="{{formset.title}}-tab-pane">
            {% if formset.is_tabular %}
                {% tabular_inline_formset formset %}
            {% else %}
                {% inline_formset formset %}
            {% endif %}
            </div>
        </div>
        {% endfor %}
        </div>
    </form>
    </div>
</div>
{% endblock content_tabs %}
<div class="d-flex justify-content-around text-secondary mb-3">
    <span>{{ form.veroeffentlicht.label }}: {{ form.veroeffentlicht.value|localize }}</span>
    <span>{{ form.refnr.label }}: {{ form.refnr.value }}</span>
    <span>{{ form.modified.label }}: {{ form.modified.value|localize }}</span>
</div>

</div>
{% endblock content %}