{% extends "jobby/base.html" %}
{% load static django_bootstrap5 %}

{% block extrahead %}
    <script src="{% static 'jobby/js/watchlist.js' %}"></script>
    <script src="{% static 'jobby/js/remove_empty_fields.js' %}"></script>
{% endblock extrahead %}

{% block content %}
<div class="d-flex">
    <div class="col-4">
        <form class="search-form" method="GET">
            {% for field in form.shown_fields %}
                {% bootstrap_field field layout="floating" %}
            {% endfor %}
            <div class="collapse{% if show_collapsed_fields %} show{% endif %}" id="extraSearchFields">
                {% for field in form.collapsed_fields %}
                    {% bootstrap_field field layout="floating" %}
                {% endfor %}
            </div>
            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#extraSearchFields">weitere Suchoptionen</button>
            <input class="btn btn-success" name="suche" type="submit" value="Suchen">
        </form>
    </div>
    <div class="col-8">
        {% include "jobby/include/results.html" %}
    </div>
</div>
{% endblock content %}
