{% extends "jobby/base.html" %}
{% load static django_bootstrap5 %}

{% block extrahead %}
    <script src="{% static 'jobby/js/watchlist.js' %}"></script>
{% endblock extrahead %}

{% block content %}
<div class="d-flex">
    <div class="col-4">
        <form method="GET">
            {% bootstrap_field form.was layout="floating" %}
            {% bootstrap_field form.wo layout="floating" %}
            {% bootstrap_field form.umfeld layout="floating" %}
            <div class="collapse" id="extraSearchFields">
                {% bootstrap_form form layout="floating" exclude="was,wo,umfeld" %}
            </div>
            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#extraSearchFields">weitere Suchoptionen</button>
            <button class="btn btn-success" name="suche" type="submit">Suchen</button>
        </form>
    </div>
    <div class="col-8">
        {% include "jobby/include/results.html" %}
    </div>
</div>
{% endblock content %}
