{% extends "jobby/base.html" %}
{% load static django_bootstrap5 %}


{% block extrahead %}
    <script src="{% static 'jobby/js/watchlist.js' %}"></script>
{% endblock extrahead %}

{% block content %}
{% block watchlist_search_form %}
<form method="GET" class="mb-3" style="max-width: 300px;">
    {% bootstrap_form search_form layout="floating" %}
    <div class="d-flex gap-3">
        <button type="submit" class="btn btn-primary">Suche</button>
        <a class="btn btn-secondary" href="{% url 'watchlist' %}">Alle anzeigen</a>
    </div>
</form>
{% endblock watchlist_search_form %}

{% block watchlist_items %}
<div class="watchlist-container">
{% if stellenangebot_list %}
{% csrf_token %}
<div class="d-flex justify-content-between mb-3">
    <h2>{{ stellenangebot_list.count }} gemerkte Stellenangebote:</h2>
    <button class="btn btn-outline-danger watchlist-remove-all-btn" data-url="{% url 'watchlist_remove_all' %}">Alle entfernen</button>
</div>
<table class="table table-hover">
    <thead>
    <tr class="table-primary">
        <th scope="col" class="sticky-top z-999">Stellenangebot</th>
        <th scope="col" class="sticky-top z-999">Arbeitsort</th>
        <th scope="col" class="sticky-top z-999">Arbeitgeber</th>
        <th scope="col" class="sticky-top z-999">Eintrittsdatum</th>
        <th scope="col" class="sticky-top z-999">Bewerbung</th>
        <th scope="col" class="sticky-top z-999 text-center">Entfernen</th>
    </tr>
    </thead>
    <tbody class="watchlist-items-list">
    {% for stellenangebot in stellenangebot_list %}
    <tr class="watchlist-item">
        <td><a href="{{ stellenangebot.as_url }}">{{ stellenangebot }}</a></td>
        <td>{{ stellenangebot.arbeitsort }}</td>
        <td>{{ stellenangebot.arbeitgeber }}</td>
        <td>{{ stellenangebot.eintrittsdatum }}</td>
        <td>{{ stellenangebot.bewerbungsstatus }}</td>
        <td class="px-4">
            <button class="btn text-danger w-100 p-0 watchlist-remove-btn" title="Von Merkliste entfernen" data-url="{% url 'watchlist_remove' %}" data-refnr="{{ stellenangebot.refnr }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Keine Ergebnisse</p>
{% endif %}
</div>
{% endblock watchlist_items %}
{% endblock content %}